.space-more{
    height: 50px;
    
}
body{
    margin: 0;
}
/* .message{
    width: 100%;
}
.message-our{
    width: 100%;
    justify-content: center;
    align-items: center;
     margin-top: 50px;
}
.message-our h1{
    margin-left: 100px;
   
} */
.our-futuer{
    width: 100%;
    display: flex;
}
.our-futuer-text{
    justify-content: space-between;
    align-items: center;
    display: inline;
    margin-top: 30px;
    margin-left: 3%; 
    
}
.our-futuer-text-img {
    position: relative;
    top: 100px;
    right: 20px;
}
.our-futuer-text h1{
    color: #1dbbb4;
    margin-left: 5%;
}
.our-futuer-text h2{
    color: #1dbbb4;
}
.our-futuer-text p{
    font-size: 18px;
}

.our-about-ceo p{
    font-size: 18px;
}


.our-about-ceo{
    margin-left: 3%;
}

.about-ceo p{
    margin-left: 3%;
}
.custom-icon {   
  font-size: 18px;   
  margin-right: 12px;
  vertical-align: middle;
  margin-left: 3%;
}

