.more-space {
    height: 100px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 50px;
}
.container h1 {
    margin-top: 80px;

}
.hero {
    background: #004151;
    color: white;
    padding: 20px 0;
}

.page-layout {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.sidebar {
    width: 250px;
}

.sidebar h3 {
    color: #004151;
    border-bottom: 2px solid #004151;
    padding-bottom: 8px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    display: block;
    color: #666;
    text-decoration: none;
    margin-bottom: 12px;
}

.sidebar a.active {
    color: #004151;
    font-weight: bold;
}

.content {
    flex: 1;
}

.tab-content {
    display: none;
}
.tab-content h2 {
    color: #004151;
    font-size: 20px;
}
.tab-content p {
    font-size: 17px;
    color: #444444;
}
.tab-content.active {
    display: block;
}

.intro-text {
    font-weight: bold;
    margin-bottom: 15px;
}

.vip-card {
    background: #f0f6f7;
    border-left: 5px solid #004151;
    padding: 15px;
    margin: 20px 0;
}

.content img {
    max-width: 100%;
    border-radius: 8px;
}
.breadcrumb a {
    color: white;
}
.tab-content img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
